
@font-face {
    font-family: "Vazirmatn";
    font-style: normal;
    font-weight: 400;
    src: url('/font/Vazirmatn-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "Vazirmatn-SemiBold";
    font-style: normal;
    font-weight: bold;
    src: url('/font/Vazirmatn-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: "Vazirmatn-SemiBold";
    font-style: normal;
    font-weight: bold;
    src: url('font/Vazirmatn-FD-SemiBold.woff2') format('woff2');
}

* {
    font-family: "Vazirmatn";
}

.bold {
    font-size: large;
    font-family: "Vazirmatn-SemiBold";

}